body{
 margin:0;
padding:0;

}
.top-bar{
    background: #ffffff;
    padding:5px;

}
.dropbtn {
    opacity: 0.75;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#ff545a;}
  
  .dropdown:hover .dropdown-content {display: block; background-color: rgb(255, 254, 255);}
  
  .dropdown:hover .dropbtn {background-color: #ffffff;}
.header
{
height:100vh;
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
font-family:sans-serif;
animation:animate 50s ease-in-out infinite;
}

@keyframes animate{
0%,100%{
background-image:url("tour.jpg");
}
25%{
background-image:url("shiva.jpg");
}
50%{
background-image:url("falls.jpg");
}
75%{
background-image:url("ele.jpg");
}
100%{
background-image:url("pic2.jpg");
}
}


h1
{
color:#fff;
margin-bottom:70px;
font-size: 45px;
letter-spacing: 2px;
text-align:center;
}
.search-field
{
height:50px;
padding:10px;
border:none;
border-radius:25px;
outline:none;
}
.b
{
width:600px;
}
.search-btn{
height:50px;
width:150px;
background:#ff545a;
border:none;
color:#000;
border-radius:25px;
}
.search-btn:hover{
background:#ff545a;
cursor:pointer;
}
.inp{
height:50px;
padding:10px;
border:none;
border-radius:25px;
background:#ffc107;
outline:none;
}
<!--
.list-topics-content {
    position: relative;
    top: -98px;
    z-index: 1;
}
.single-list-topics-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 170px;
    background: #fff;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);

}-->

.list-topics-content {
    position: relative;
    top: -98px;
    z-index: 1;
}
.list-topics-content ul li { display: inline-block;}

.single-list-topics-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 170px;
    background:#fff;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.single-list-topics-content h2>a { margin: 13px 0;}
/*.single-list-topics-content:last-child{margin-right: 0;}*/

.single-list-topics-icon [class^="flaticon-"]:before,.single-list-topics-icon [class*=" flaticon-"]:before,.single-list-topics-icon [class^="flaticon-"]:after,.single-list-topics-icon [class*=" flaticon-"]:after {font-size: 45px;color:#343a3f;}
.single-list-topics-content:hover .single-list-topics-icon [class^="flaticon-"]:before,.single-list-topics-content:hover .single-list-topics-icon [class*=" flaticon-"]:before,.single-list-topics-content:hover .single-list-topics-icon [class^="flaticon-"]:after,.single-list-topics-content:hover .single-list-topics-icon [class*=" flaticon-"]:after {color:#fff;}

.single-list-topics-content:hover h2>a,.single-list-topics-content:hover p{color: #fff!important;}
.single-list-topics-content:hover{
    color: #fff;
    background:#ff545a;
    box-shadow: 0 5px 10px rgba(71,71,71,.4);
}

.container{
text-align:center;
}
.hii:hover{
background:#fff;
cursor:pointer;
}
.hii{
border:none;
border-radius:25px;
height:50px;
padding:10px;
width:350px;
}
.line{
border:none;
border-top:3px dashed red;
}
.foot{
text-align:center;
background:white;

}
.most{
background:#ff545a;
text-align:center;
display:flex;
}

.imge{
background:#FAEBD7;
}

.cont{
  background-image: url(img.jpg);
}

.count{
 border:none;
 border-radius:25px;
 height:50px;
 padding:10px;
 width:750px;
  }

.foot{
background:#FAEBD7;
}

